# Documentation of sets ,methodsof sets & dictonaries

 # sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

 # how to create an empty set

In [3]:
x = set()
print(x,len(x),type(x),hex(id(x)), sep = '\n')

set()
0
<class 'set'>
0x1b54b0d52a0

In [4]:
x = {1,1,1,1,6,6,6,6,}
print(x)

{1, 6}

# methods of sets

In [5]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [6]:
x = {1,2,3,4,5}
x

{1, 2, 3, 4, 5}

# add()
by using this we can add a specific value to the set

In [7]:
x.add(6)
x

{1, 2, 3, 4, 5, 6}

# update()
it will update the set and gives the updated set

In [8]:
x.update((6,7,8))
x

{1, 2, 3, 4, 5, 6, 7, 8}

# remove()
it is used to remove a specific character in a set

In [9]:
set = {1,2,3,4,5}
set.remove(4)
set

{1, 2, 3, 5}

# discard()
discard also used to remove a character in a set like remove(). but here if we use this method on  a particular element in a set.if the element is there  then it will be removed. if the element is not present in given set then the output will be the same as input and no error is shown

In [11]:
set = {1,2,3,4,5}
set.discard(5)
set

{1, 2, 3, 4}

In [19]:
set = {1,2,3,4,5}
set.discard(10)
set

{1, 2, 3, 4, 5}

# pop()
method is not a valid operation on sets because sets are unordered collections of unique elements, and there is no concept of indexing or order in a set

In [20]:
a = x.pop()
a,x

(1, {2, 3, 4, 5, 6, 7, 8})

# clear()
method is used with sets to remove all the elements from the set, effectively making it an empty set.
This method is used to clear the content of the set without deleting the set itself.

In [22]:
set.clear()
print(set)

set()

In [23]:
x.clear()
x

set()

# isdisjoint()

In [30]:
a.isdisjoint(b)

False

# intersection()
is used to return a new set that contains the elements that are common to two or more sets.
The intersection of sets is a new set that contains only the elements that are present in all of the sets involved.

In [33]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {4, 6, 7, 8}

result_set = set1.intersection(set2, set3)

print(result_set)

{4}

In [34]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {4, 6, 7, 8}

result_set = set3.intersection(set1, set2)              # how we change the set !,set2, set3, also same result

print(result_set)

{4}

# union()
is used to return a new set that contains all the unique elements from two or more sets.

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

result_set = set1.union(set2, set3)

print(result_set)

{1, 2, 3, 4, 5, 6, 7}

# difference()
this method can be used to find the set difference between two sets.
It returns a new set containing the elements that are in the first set but not in the second set.

In [36]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.difference(set2)

print(result_set)

{1, 2}

# symmetric difference
that returns a new set containing elements that are unique to each of the input sets.

In [37]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.symmetric_difference(set2)

print(result_set)

{1, 2, 5, 6}

# symmetric difference update()
that is used to update a set by removing elements that are present in both the set on which the method
and adding elements that are present in the other set but not in the original set.

In [38]:
y1 = {1, 2, 3, 4}
y2 = {3, 4, 5, 6}

y1.symmetric_difference_update(y2)

print(y1)

{1, 2, 5, 6}